* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 960px;
  margin: 50px auto;
}
.list-line {
  margin-bottom: 50px;
}
.list-item {
  list-style: none;
  padding: 20px;
}
.list-item:nth-child(odd) {
  background-color: gray;
}
.list-item:nth-child(even) {
  background-color: white;
}
.box-item {
  width: 30%;
  height: 200px;
  float: left;
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: yellow;
}
.box-item:first-child,.box-item:nth-child(5),.box-item:last-child {
  background-color: orange;
}
.box-item:nth-child(3n) {
  margin-right: 0;
}
.box-item:nth-child(7),.box-item:nth-child(8),.box-item:nth-child(9) {
  margin-bottom: 50px;
}